html,body,#root,.App{
    height:100%;
    width:100%;
    background-color: gray;
}

.point{
    position:absolute;
    height:1%;
    width:1%;
    border-radius:50%;
    background-color: red;
    transform: translate(-50%,-50%);
}
button{
    background-color: white;
    border-color:white;
    border-radius:7px;
}
header{
    position: absolute;
    margin-left:2%;
    display:flex;
    gap:30%;
}

button[disabled]{
    color:black;
    opacity:0.5;
}